:root {
  --sz: 100%;
  --dvh: 100dvh;
  --box-sz: 12vmin;
  --pd: 1.125rem;
  --rd: .5lh;
  --unit: 10;
  --deg: 180deg;
  --fnt-sz: calc(var(--pd) / var(--unit) * 4);
  --fnt-primary: 'Space Mono', monospace;
  --clr-blue: hsl(198 78% 41%);
  --clr-red: hsl(0 80% 31%);
  --clr-green: hsl(150 51% 24%);
  --clr-orange: hsl(17 88% 48%);
  --clr-black: hsl(227 55% 12%);
  --clr-light: hsl(192 15% 94%)
}

*,
*::before,
*::after { box-sizing: border-box }

:where(html, body) { margin: 0 }
:where(.container, .box, .header) {
  display: flex;
  align-items: center;
}
:where(.header, .box) { justify-content: center; }

body { background: var(--clr-light); }

.container {
  flex-direction: column;
  justify-content: space-around;
  height: var(--dvh);
  .header {
    width: var(--sz);
    position: relative;
    .heading {
      margin: 0;
      font: 700 calc(var(--fnt-sz) * 4) var(--fnt-primary);
      color: var(--clr-black);
      text-transform: capitalize;
      span {
        display: inline-block;
        font-weight: 300;
        text-transform: lowercase;
        &::first-letter { font-size: calc(var(--fnt-sz) * 8)}
      }
    }
    &::before {
      content: '';
      position: absolute;
      width: calc(var(--sz) * .8);
      height: .1rem;
      background: var(--clr-black);
      bottom: 0;
      opacity: .15;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  place-content: center;
  gap: var(--rd);
  aspect-ratio: 1 / 1;
  .box {
    width: var(--box-sz);
    height: var(--box-sz);
    border: calc(var(--rd) * .5) solid var(--clr-black);
    span { display: none }
  }
  .flip--card {
    background: var(--clr-blue);
    border-radius: var(--rd);
    transform: rotate(0);
    transition: transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
    &.active {
      transform: rotateY(var(--deg));
      background: var(--clr-green);
      transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      span { 
        display: block;
        font-size: calc(var(--box-sz) * .35);
      }
    }
    &.matched {
      border-color: var(--clr-orange);
      box-shadow: 0 0 .15rem var(--clr-light) inset, 0 0 .15rem var(--clr-orange);
      pointer-events: none;
      opacity: .75
    }
  }
}