:root {
  --sz: 100%;
  --dvh: 100dvh;
  --box-sz: 12vmin;
  --pd: 1.125rem;
  --rd: .5lh;
  --unit: 10;
  --deg: 180deg;
  --fnt-sz: calc(var(--pd) / var(--unit) * 4);
  --fnt-primary: 'Space Mono', monospace;
  --fnt-secondary: 'Press Start 2P', system-ui;
  --fnt-subtitle: 'Abel', sans-serif;
  --clr-blue: hsl(198 78% 41%);
  --clr-red: hsl(0 80% 31%);
  --clr-green: hsl(150 51% 24%);
  --clr-orange: hsl(17 88% 48%);
  --clr-black: hsl(227 55% 12%);
  --clr-white: hsl(192 15% 94%);
  --clr-yellow: hsl(47 98% 50%);
  --dark-yellow: hsl(43 100% 50%);
}

*,
*::before,
*::after { box-sizing: border-box }

:where(html, body, h1, h2, p) { margin: 0 }
:where(.container, .box, .header, .controls, .btn, .splash--screen, .victory--modal) {
  display: flex;
  align-items: center;
}
:where(.header, .box, .btn, .victory--modal) { justify-content: center; }
:where(.container, .controls, .splash--screen, .victory--modal) { justify-content: space-around; }
:where(h1, h2) { font-family: var(--fnt-primary); }
:where(button, .title, .info) { color: var(--clr-white); }
:where(.splash--screen, .victory--modal) {
  flex-direction: column;
  width: var(--sz);
  height: var(--sz);
  position: absolute
}
:where(h1, h2) {
  font-weight: 700;
  text-transform: capitalize;
}
:is(.start--game__btn, .reset--game__btn) {
  padding-block: calc(var(--box-sz) * .2);
  padding-inline: calc(var(--box-sz) * .3);
  font: 800 calc(var(--box-sz) * .25) var(--fnt-secondary);
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: calc(var(--rd) * .75) solid transparent;
  border-image: linear-gradient(var(--clr-orange),
      var(--clr-red),
      var(--clr-black)) 20;
  background: linear-gradient(45deg,
      var(--clr-red) 25%,
      var(--clr-orange) 100%);
  box-shadow: 0 0 0 calc(var(--rd) * .65) rgba(0, 0, 0, .85), .15vmin .15vmin calc(var(--rd) * .5) var(--clr-black) inset, -.15vmin -.15vmin calc(var(--rd) * .25) rgba(255, 255, 255, .35) inset;
  text-shadow: .035lh .025lh var(--clr-black);
  transition: box-shadow 300ms ease-in;
}

body { 
  font-family: var(--fnt-primary);
  background: var(--clr-white); 
}
button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer
}

.container {
  flex-direction: column;
  height: var(--dvh);
  .header {
    width: var(--sz);
    position: relative;
    .heading {
      font-size: calc(var(--fnt-sz) * 4);
      color: var(--clr-black);
      span {
        display: inline-block;
        font-weight: 300;
        text-transform: lowercase;
        &::first-letter { font-size: calc(var(--fnt-sz) * 8)}
      }
    }
    &::before {
      content: '';
      position: absolute;
      width: calc(var(--sz) * .8);
      height: .1rem;
      background: var(--clr-black);
      bottom: 0;
      opacity: .15;
    }
  }
  .controls {
    width: var(--sz);
    .info {
      font-size: calc(var(--fnt-sz) * 2.5);
      font-weight: 600;
      text-transform: capitalize;
      color: var(--clr-black);
      & :is(.score, .timer) { font-weight: 300; }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  place-content: center;
  width: calc(var(--box-sz) * 4);
  height: calc(var(--box-sz) * 4);
  gap: var(--rd);
  aspect-ratio: 1 / 1;
  .box {
    width: var(--box-sz);
    height: var(--box-sz);
    position: relative;
    border: calc(var(--rd) * .5) solid var(--clr-black);
    span { display: none }
    &::before {
      content: '?';
      display: flex;
      align-items: center;
      justify-content: center;
      font: 700 calc(var(--box-sz) * .6) var(--fnt-primary);
      color: var(--clr-white);
    }
  }
  .flip--card {
    background: linear-gradient(
      45deg,
      var(--clr-blue),
      var(--clr-black) 95%,
      var(--clr-white) 100%
    );
    border-radius: var(--rd);
    transform: rotate(0);
    transition: transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
    box-shadow: .25vmin .35vmin .5rem rgba(0,0,0,.5) inset,
    -.25vmin -.25vmin .15rem rgba(255,255,255,.35) inset;
    &.active {
      transform: rotateY(var(--deg));
      background: var(--clr-green);
      transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      span { 
        display: block;
        font-size: calc(var(--box-sz) * .35);
      }
      &::before {
        content: ''
      }
    }
    &.matched {
      border-color: var(--clr-orange);
      box-shadow: 0 0 .15rem var(--clr-white) inset, 0 0 .15rem var(--clr-orange);
      pointer-events: none;
      opacity: .75
    }
  }

  .victory--modal {
    inset: 0;
    background: var(--clr-blue);
    .header {
      .title { font-size: calc(var(--box-sz) * .75); }
    }
    .info--container {
      align-items: flex-start;
      margin-block-start: calc(var(--pd) * 2);
      .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: var(--sz);
        padding-inline: calc(var(--rd) * .75);
        margin-block-end: var(--rd);
        font-size: calc(var(--box-sz) * .3);
        font-weight: 700;
        border-radius: calc(var(--rd) * .3);
        color: var(--clr-white);
        letter-spacing: calc(var(--rd) * .05);
        text-transform: capitalize;
        box-shadow: .35vmin .35vmin .125rem rgba(1, 1, 1, .25) inset, -.35vmin -.25vmin .35rem rgba(255, 255, 255, .35) inset, 0 0 0 .2rem rgba(10, 10, 10, .45);
        overflow: hidden;
        strong { 
          flex: 0 1;
          position: relative;
          padding-inline-start: 2rem;
          font-weight: 400;
          text-align: end;
          color: var(--clr-yellow);
          box-shadow: -.2rem 0 0 rgba(10, 10, 10, .45);
          z-index: 2;
          &::before {
            content: '';
            position: absolute;
            inset: 0;
            width: calc(var(--sz) * 1.5);
            background: rgba(30, 30, 30, .25);
            border-radius: 0 calc(var(--rd) * .3) calc(var(--rd) * .3) 0;
            z-index: -1
          }
        }
      }
    }
  }
}

.splash--screen {
  background: linear-gradient(
    45deg,
    var(--clr-red),
    var(--clr-orange)
  );
  z-index: 1;
  .title {
    --duration: calc(var(--unit) * 0.35s);
    font-size: calc(var(--box-sz) * .95);
    position: relative;
    background: linear-gradient(
      45deg,
      var(--clr-white) 35%,
      var(--clr-yellow) 85%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    animation: faded var(--duration) ease-in;
    filter: drop-shadow(.045lh .05lh .015lh rgba(0,0,0,.45));
    &::before {
      content: '';
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: 1rem;
      right: 0;
      background: var(--clr-white);
      rotate: 35deg;
      opacity: 0;
      transition: opacity var(--duration) ease-in;
      animation: star var(--duration) ease-in;
      clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }
  }
  .sub--title {
    position: absolute;
    bottom: -.45rem;
    font: 200 calc(var(--box-sz) * .27) var(--fnt-subtitle);
    background: linear-gradient(45deg,
        var(--dark-yellow),
        var(--clr-yellow));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
    top: 50.5%;
    left: auto;
    transform: translate(-57%, -50%)
  }
  .start--game__btn {
    &:active {
      transform: scale(.99);
      box-shadow: 0 0 0 calc(var(--rd) * .75) rgba(0,0,0,.75), .15vmin .15vmin calc(var(--rd) * .5) var(--clr-black) inset, -.15vmin -.15vmin calc(var(--rd) * .25) rgba(255,255,255,.35) inset;
    }
  }
}

@keyframes faded {
  0% { background-position: 200% 0% }
}

@keyframes star {
  50% { 
    opacity: 0; 
    scale: 1.4; 
    rotate: 0deg 
  }
  
  100% { 
    opacity: 1; 
    scale: 1.1;
    rotate: 35deg 
  }
}