:root {
  --sz: 100%;
  --dvh: 100dvh;
  --box-sz: 12vmin;
  --pd: 1.125rem;
  --rd: .5lh;
  --unit: 10;
  --deg: 180deg;
  --fnt-sz: calc(var(--pd) / var(--unit) * 4);
  --fnt-primary: 'Space Mono', monospace;
  --fnt-secondary: 'Press Start 2P', system-ui;
  --fnt-subtitle: 'Abel', sans-serif;
  --clr-blue: hsl(198 78% 41%);
  --clr-red: hsl(0 80% 31%);
  --clr-green: hsl(150 51% 24%);
  --clr-orange: hsl(17 88% 48%);
  --clr-black: hsl(227 55% 12%);
  --clr-white: hsl(192 15% 94%)
}

*,
*::before,
*::after { box-sizing: border-box }

:where(html, body, h1, h2) { margin: 0 }
:where(.container, .box, .header, .controls, .btn, .splash--screen) {
  display: flex;
  align-items: center;
}
:where(.header, .box, .btn) { justify-content: center; }
:where(.container, .controls, .splash--screen) { justify-content: space-around; }
:where(h1, h2) { font-family: var(--fnt-primary); }
:where(button, .title) { color: var(--clr-white); }

body { 
  font-family: var(--fnt-primary);
  background: var(--clr-white); 
}
button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer
}

.container {
  flex-direction: column;
  height: var(--dvh);
  .header {
    width: var(--sz);
    position: relative;
    .heading {
      font-size: calc(var(--fnt-sz) * 4);
      font-weight: 700;
      color: var(--clr-black);
      text-transform: capitalize;
      span {
        display: inline-block;
        font-weight: 300;
        text-transform: lowercase;
        &::first-letter { font-size: calc(var(--fnt-sz) * 8)}
      }
    }
    &::before {
      content: '';
      position: absolute;
      width: calc(var(--sz) * .8);
      height: .1rem;
      background: var(--clr-black);
      bottom: 0;
      opacity: .15;
    }
  }
  .controls {
    width: var(--sz);
    .info {
      font-size: calc(var(--fnt-sz) * 2.5);
      font-weight: 600;
      text-transform: capitalize;
      & :is(.score, .timer) { font-weight: 300; }
    }
    .reset--btn {
      padding-block: calc(var(--pd) * .5);
      padding-inline: var(--pd);
      background: linear-gradient(
        45deg,
        var(--clr-red),
        var(--clr-orange)
      );
      font: 500 calc(var(--fnt-sz) * 2.25) var(--fnt-primary);
      text-transform: uppercase;
      border: calc(var(--rd) * .45) solid transparent;
      border-image: linear-gradient(
        var(--clr-orange),
        var(--clr-red)
      ) 20;
      box-shadow: .25vmin .5vmin calc(var(--rd) * .25) rgba(0,0,0,.5), .15vmin .15vmin calc(var(--rd) * .5) 0 var(--clr-black) inset, -.15vmin -.15vmin calc(var(--rd) * .25) 0 rgba(255,255,255,.25) inset;
      &:active {
        transform: scale(.99);
        box-shadow: .15vmin .35vmin calc(var(--rd) * .25) rgba(0,0,0,.35), .15vmin .15vmin calc(var(--rd) * .5) 0 var(--clr-black) inset, -.15vmin -.15vmin calc(var(--rd) * .25) 0 rgba(255,255,255,.25) inset;
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  place-content: center;
  width: calc(var(--box-sz) * 4);
  height: calc(var(--box-sz) * 4);
  gap: var(--rd);
  aspect-ratio: 1 / 1;
  .box {
    width: var(--box-sz);
    height: var(--box-sz);
    position: relative;
    border: calc(var(--rd) * .5) solid var(--clr-black);
    span { display: none }
    &::before {
      content: '?';
      display: flex;
      align-items: center;
      justify-content: center;
      font: 700 calc(var(--box-sz) * .6) var(--fnt-primary);
      color: var(--clr-white);
    }
  }
  .flip--card {
    background: linear-gradient(
      45deg,
      var(--clr-blue),
      var(--clr-black) 95%,
      var(--clr-white) 100%
    );
    border-radius: var(--rd);
    transform: rotate(0);
    transition: transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
    box-shadow: .25vmin .35vmin .5rem rgba(0,0,0,.5) inset,
    -.25vmin -.25vmin .15rem rgba(255,255,255,.35) inset;
    &.active {
      transform: rotateY(var(--deg));
      background: var(--clr-green);
      transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      span { 
        display: block;
        font-size: calc(var(--box-sz) * .35);
      }
      &::before {
        content: ''
      }
    }
    &.matched {
      border-color: var(--clr-orange);
      box-shadow: 0 0 .15rem var(--clr-white) inset, 0 0 .15rem var(--clr-orange);
      pointer-events: none;
      opacity: .75
    }
  }
}

.splash--screen {
  flex-direction: column;
  width: var(--sz);
  height: var(--sz);
  position: absolute;
  background: linear-gradient(
    45deg,
    var(--clr-red),
    var(--clr-orange)
  );
  z-index: 1;
  .title {
    font-size: calc(var(--box-sz) * .95);
    font-weight: 700;
    text-transform: capitalize;
    text-shadow: .035lh .025lh var(--clr-black);
    position: relative;
    animation: faded 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &::before {
      content: 'can you guess the match?';
      position: absolute;
      bottom: -.4rem;
      font: 200 calc(var(--box-sz) * .28) var(--fnt-subtitle);
      color: hsl(43 100% 50%);
      letter-spacing: .15pt;
      text-shadow: none;
      border: calc(var(--rd) * .2) solid transparent;
      border-color: transparent transparent var(--clr-black) transparent;
    }
  }
  .start--game__btn {
    padding-block: calc(var(--box-sz) * .2);
    padding-inline: calc(var(--box-sz) * .3);
    font: 800 calc(var(--box-sz) * .25) var(--fnt-secondary);
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: calc(var(--rd) * .75) solid transparent;
    border-image: linear-gradient(
      var(--clr-orange),
      var(--clr-red),
      var(--clr-black)
    ) 20;
    background: linear-gradient(
      45deg,
      var(--clr-red) 25%,
      var(--clr-orange) 100%
    );
    box-shadow: 0 0 0 calc(var(--rd) * .65) rgba(0,0,0,.85), .15vmin .15vmin calc(var(--rd) * .5) var(--clr-black) inset, -.15vmin -.15vmin calc(var(--rd) * .25) rgba(255,255,255,.35) inset;
    text-shadow: .035lh .025lh var(--clr-black);
    transition: box-shadow 300ms ease-in;
    &:active {
      transform: scale(.99);
      box-shadow: 0 0 0 calc(var(--rd) * .75) rgba(0,0,0,.75), .15vmin .15vmin calc(var(--rd) * .5) var(--clr-black) inset, -.15vmin -.15vmin calc(var(--rd) * .25) rgba(255,255,255,.35) inset;
    }
  }
}

@keyframes faded {
  from { 
    color: var(--clr-black); 
    opaicty: 0 
  }
  to { 
    color: var(--clr-white); 
    opacity: 1 
  }
}